src/main/resources/META-INF/C2learn.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.c2learn.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.c2learn.eu/" name="c2learn">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.c2learn.eu/" schemaLocation="http://cru.iit.demokritos.gr:8080/c2Learn/C2learn?xsd=1" />
</xsd:schema>
</types>
<message name="ThoughtCloud">
<part name="parameters" element="tns:ThoughtCloud" />
</message>
<message name="ThoughtCloudResponse">
<part name="parameters" element="tns:ThoughtCloudResponse" />
</message>
<message name="SemanticDistance">
<part name="parameters" element="tns:SemanticDistance" />
</message>
<message name="SemanticDistanceResponse">
<part name="parameters" element="tns:SemanticDistanceResponse" />
</message>
<message name="WebMiner">
<part name="parameters" element="tns:WebMiner" />
</message>
<message name="WebMinerResponse">
<part name="parameters" element="tns:WebMinerResponse" />
</message>
<message name="CreativityPoints">
<part name="parameters" element="tns:CreativityPoints" />
</message>
<message name="CreativityPointsResponse">
<part name="parameters" element="tns:CreativityPointsResponse" />
</message>
<message name="ThinkingSpaces">
<part name="parameters" element="tns:ThinkingSpaces" />
</message>
<message name="ThinkingSpacesResponse">
<part name="parameters" element="tns:ThinkingSpacesResponse" />
</message>
<message name="ThinkingSeed">
<part name="parameters" element="tns:ThinkingSeed" />
</message>
<message name="ThinkingSeedResponse">
<part name="parameters" element="tns:ThinkingSeedResponse" />
</message>
<message name="RelationFinder">
<part name="parameters" element="tns:RelationFinder" />
</message>
<message name="RelationFinderResponse">
<part name="parameters" element="tns:RelationFinderResponse" />
</message>
<message name="ImageFinder">
<part name="parameters" element="tns:ImageFinder" />
</message>
<message name="ImageFinderResponse">
<part name="parameters" element="tns:ImageFinderResponse" />
</message>
<message name="ConceptFinder">
<part name="parameters" element="tns:ConceptFinder" />
</message>
<message name="ConceptFinderResponse">
<part name="parameters" element="tns:ConceptFinderResponse" />
</message>
<portType name="C2learn">
<operation name="ThoughtCloud">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/ThoughtCloudRequest" message="tns:ThoughtCloud" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/ThoughtCloudResponse" message="tns:ThoughtCloudResponse" />
</operation>
<operation name="SemanticDistance">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/SemanticDistanceRequest" message="tns:SemanticDistance" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/SemanticDistanceResponse" message="tns:SemanticDistanceResponse" />
</operation>
<operation name="WebMiner">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/WebMinerRequest" message="tns:WebMiner" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/WebMinerResponse" message="tns:WebMinerResponse" />
</operation>
<operation name="CreativityPoints">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/CreativityPointsRequest" message="tns:CreativityPoints" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/CreativityPointsResponse" message="tns:CreativityPointsResponse" />
</operation>
<operation name="ThinkingSpaces">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/ThinkingSpacesRequest" message="tns:ThinkingSpaces" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/ThinkingSpacesResponse" message="tns:ThinkingSpacesResponse" />
</operation>
<operation name="ThinkingSeed">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/ThinkingSeedRequest" message="tns:ThinkingSeed" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/ThinkingSeedResponse" message="tns:ThinkingSeedResponse" />
</operation>
<operation name="RelationFinder">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/RelationFinderRequest" message="tns:RelationFinder" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/RelationFinderResponse" message="tns:RelationFinderResponse" />
</operation>
<operation name="ImageFinder">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/ImageFinderRequest" message="tns:ImageFinder" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/ImageFinderResponse" message="tns:ImageFinderResponse" />
</operation>
<operation name="ConceptFinder">
<input wsam:Action="http://webservice.c2learn.eu/C2learn/ConceptFinderRequest" message="tns:ConceptFinder" />
<output wsam:Action="http://webservice.c2learn.eu/C2learn/ConceptFinderResponse" message="tns:ConceptFinderResponse" />
</operation>
</portType>
<binding name="C2learnPortBinding" type="tns:C2learn">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ThoughtCloud">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SemanticDistance">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="WebMiner">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreativityPoints">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ThinkingSpaces">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ThinkingSeed">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RelationFinder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ImageFinder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConceptFinder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="c2learn">
<port name="C2learnPort" binding="tns:C2learnPortBinding">
<soap:address location="http://cru.iit.demokritos.gr:8080/c2Learn/C2learn" />
</port>
</service>
</definitions>