src/wsdl/cru.iit.demokritos.gr_8080/SemDist/SemDistance.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice.Semantic.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.Semantic.eu/">

<xs:element name="SemanticDistance" type="tns:SemanticDistance" />

<xs:element name="SemanticDistanceResponse" type="tns:SemanticDistanceResponse" />

<xs:complexType name="SemanticDistance">
<xs:sequence>
<xs:element name="firstWord" type="xs:string" minOccurs="0" />
<xs:element name="secondWord" type="xs:string" minOccurs="0" />
<xs:element name="language" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SemanticDistanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>